:root {
    --primary:#304145 ;
    --secondary:#e6ecef ;
    --tertiary:#b29155 ;
    --quaternary: #111718 ;
}

body {
    background-color: var(--secondary);
}

/* Header Styles */

header {
    background-color: var(--primary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

header h1 {
    color: var(--tertiary);
    font-size: 42px;
    font-weight: bold;
    padding: 0 400px 0 0;
}

header nav a {
    color:var(--tertiary);
    font-size: 26px;
    padding: 12px;
    text-decoration: none;
}

/* About Me Styles */

.about-me {
    display: flex;
    justify-content: space-between;
    margin: 0
}

.about-me h2 {
    color: var(--primary);
    font-size: 40px;
}

.about-me div {
    border: solid;
    padding: 0 10px 0 10px;
    margin: 10px 0 0 40px;
    border-width: 5px;
    border-color: var(--primary);
    background-color: var(--tertiary);
}

.about-me p {
    color: var(--quaternary);
    font-size: 18px;
    padding: 0 20px 0 20px;
    margin: 70px 10px 10px 10px;
}

.about-me img {
    width: 189px;
    height: 252px;
    margin: 40px 40px 10px 20px;
}

/* Projects Styles */

.projects {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin: 0;
}

#projects-title {
    color: var(--primary);
    font-size: 28px;
    border: solid;
    padding: 10px 10px 10px 20px;
    margin: 10px 40px 0 0;
    border-width: 5px;
    border-color: var(--primary);
    background-color: var(--tertiary);
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    margin: 20px;
}

#run-buddy {
    background-image: url(./images/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    width: 860px;
    height: 200px;
    border-style: solid;
    border-color: var(--primary);
    border-width: 5px;
    text-decoration: none;
    margin: 30px 20px 30px 20px;
}

#run-buddy h3, #css h3, #javascript h3 {
    margin: 0;
    padding: 0;
    background-color: var(--primary);
    color: var(--tertiary);
    width: 120px;
}

#css {
    background-image: url(./images/css\ logo.jpg);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 200px;
    border-style: solid;
    border-color: var(--primary);
    border-width: 5px;
    text-decoration: none;
}

#javascript {
    background-image: url(./images/programmers-dashboard.png);
    background-size: cover;
    background-position: center;
    width: 400px;
    height: 200px;
    border-style: solid;
    border-color: var(--primary);
    border-width: 5px;
    text-decoration: none;
}

/* Resume */

.resume {
    display: flex;
    justify-content: space-between;
    margin: 0;
}

.resume div {
    color: var(--primary);
    font-size: 32px;
    border: solid;
    padding: 0 10px 0 10px;
    margin: 10px 0 0 40px;
    border-width: 5px;
    border-color: var(--primary);
    background-color: var(--tertiary);    
}

.resume p {
    color: var(--quaternary);
    font-size: 18px;
    padding: 0 20px 0 20px;
}

/* Contact Me Styles */

.contact-me {
    background-color: var(--primary);
    padding: 0 0 20px 0;
}

.contact-me h2 {
    text-align: center;
    font-size: 40px;
    color: var(--tertiary);
    border: solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-width: 2px;
}

#info address {
    display: flex;
    justify-content: space-evenly;
    color: var(--tertiary);
}

#info address a {
    text-decoration: none;
    color: var(--tertiary);
    margin: 0 50px 0 50px;
}

/* Mediaqueries */

@media screen and (max-width: 1220px) {
    header h1 {
        padding: 0 200px 0 0;
    }
    
}

@media screen and (max-width: 1100px) {
    #run-buddy {
        width: 760px;
    }

    #css {
        width: 350px;
    }

    #javascript {
        width: 350px;
    }
    
}

@media screen and (max-width: 1025px) {
    header h1 {
        padding: 0 100px 0 0;
    }

    #run-buddy {
        width: 660px;
    }

    #css {
        width: 300px;
    }
    
    #javascript {
        width: 300px;
    }
}

@media screen and (max-width: 925px) {
    header h1 {
        padding: 0;
    }
    
    #run-buddy {
        width: 460px;
    }

    #css {
        width: 200px;
    }

    #javascript {
        width: 200px;
    }

    #info address a {
        margin: 0 20px 0 20px;
    }
    
}

@media screen and (max-width: 720px) {
    .about-me {
        flex-direction: column;
    }

    .about-me div {
        margin: 0;
        text-align: center;
    }

    .about-me p {
        margin: 20px 10px 10px 10px;
    }

    .about-me img {
        margin: 20px auto 20px auto;
    }

    .projects {
        flex-direction: column;
    }

    #projects-title {
        margin: 10px 0 10px 0;
        text-align: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
    }
    
    #run-buddy {
        width: 400px;
        margin: 20px;
    }

    #css {
        width: 400px;
        margin: 20px;
    }

    #javascript {
        width: 400px;
        margin: 20px;
    }

    .resume {
        flex-direction: column;
    }

    .resume div {
        text-align: center;
        margin: 10px 0 10px 0;
    }

    #info address {
        flex-direction: column;
        text-align: center;
    }

    #info address a {
        margin: 5px 0 5px 0;
    }
}

@media screen and (max-width: 575px) {
    header {
        flex-direction: column;
    }

    header nav {
        display: flex;
        flex-direction: column;
    }

    
}

@media screen and (max-width: 430px) {   
    #run-buddy {
        width: 300px;
    }

    #css {
        width: 300px;
    }

    #javascript {
        width: 300px;
    }
    
}

@media screen and (max-width: 376px) {
    #run-buddy {
        width: 200px;
    }

    #css {
        width: 200px;
    }

    #javascript {
        width: 200px;
    }
    
}